.vertical-middle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-13x{
  font-size: 1.3em;
}
.fa-2x{
  font-size: 2em;
}
.fa-3x{
  font-size: 3em;
}
.fa-4x{
  font-size: 4em;
}
.fa-5x{
  font-size: 5em;
}
.fa-6x{
  font-size: 6em;
}

.top-title{
  color:#FFFFFF
}

.test-bg{  
  background-color: #cccccc;

   background-image: url('../img/test-bg-1.jpg');

  /* Full height */
  min-height: 70vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test-bg-2{
    background-color: green;
    
    /* The image used */
    /* background-image: url("img_parallax.jpg");

    /* Full height */
    min-height: 30vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

